{% extends "base.html" %}
{% load static %}
{% block head_content %}
<title>{{ request.user.username}} | Update profile</title>
<!-- Gracias al middleware de authentication middleware, es que podemos acceder a este dato desde cualquier template-->
  
{% endblock head_content %}

{% block container %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">
            <form action="{% url 'users:update_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="media">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" alt="profile_picture" class="rounded-circle" height="50">
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" alt="icon_profile" class="rounded-circle" height="50">                     
                    {% endif %}
                    <div class="media-body">
                        <h5 class="ml-4">{{ request.user.username}} | {{ request.user.get_full_name }}</h5>
                        <!-- get_full_name es un metodo de la clase de uusario de django -->
                        <p class="ml-4">
                            <input type="file" name="picture" >
                        </p>
                    </div>
                </div>
                {% for error in form.picture.errors  %}
                    <div class="alert alert-danger">
                        <p>Picture </b> {{ error }}</p>
                    </div>                  
                {% endfor %}

                <hr><br>
                <div class="form-group">
                    <label> Website </label>
                    <input  class="form-control {% if form.website.errors %} is-invalid {% endif %}"
                            type="text"
                            name="website" 
                            placeholder="Website" 
                            value="{% if form.errors %} {{ form.website.value }} {% else %} {{ profile.website }} {% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.website.errors %}
                          {{error}}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label>Biography</label>
                    <textarea name="biography" class="form-control {% if form.biography.errors %} is-invalid {% endif %}">
                        {% if form.errors %}
                            {{ form.biography.value }}
                        {% else %}
                            {{ profile.biography }} 
                        {% endif %}
                    </textarea>
                    <div class="invalid-feedback">
                        {% for error in form.biography.errors  %}
                            {{error}}
                        {% endfor %}
                    </div>
                </div>
                <div class="form_group">
                    <label> Phone Number </label>
                    <input type="text" name="phone_number" 
                            placeholder="Phone number" 
                            class="form-control {% if form.phone_number.errors %} is-invalid {% endif %}" 
                            value="{% if form.errors %} {{ form.phone_number.value }} {% else %} {{ profile.phone_number }} {% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors  %}
                        {{error}}
                    {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-5"> Update Info</button>
            </form>
        </div>
    </div>
</div>
{% endblock container %}
